[Unit]
Description=Google Cloud Print proxy service
After=cups.service

[Service]
ExecStart=/usr/sbin/cloudprintd -a /var/lib/cloudprintd/authfile
Type=simple
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
